# --- lint & format ---
pylint
flake8
black

# --- testing ---
pytest
pytest-cov

# --- cli / utils ---
typer
click 
python-dotenv}
psycopg2-binary 

# --- data & ML ---
polars
pandas
scikit-learn
matplotlib
kagglehub